# ----------------------------------------------------
# Python 기본 무시 규칙
# ----------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# 가상환경
.venv/
venv/
env/

# 테스트/커버리지
.pytest_cache/
.coverage
htmlcov/

# 타입 체커
.mypy_cache/
.pytype/
.ruff_cache/

# IDE / 에디터
.vscode/
.idea/

# OS 별 불필요 파일
.DS_Store
Thumbs.db


# ----------------------------------------------------
# 환경 변수 및 민감 정보
# ----------------------------------------------------
.env
.env.*
!.env.example


# ----------------------------------------------------
# Docker / 빌드 산출물
# ----------------------------------------------------
dist/
build/
*.log

# Docker 관련
.docker/
docker-data/


body*.json

